.main-head {
    width: 95%;
    margin: 0 0 0 auto;

}

nav {
    @include flex(space-between, center, row);
    min-height: 10vh;
    width: 60%;
    flex-wrap: wrap;

    .logo {
        @include flex(flex-start, center, row);
        flex: 1 1 10rem;
    }

    .logo img {
        margin: 0 2rem 0 0;
    }

    ul {
        @include flex(space-around, center, row);
        flex: 1 1 40rem;

    }
}

.intro {
    min-height: 90vh;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    @include flex(space-around, center, row);
   
}