$header1: 3rem;
$header2: 2.5rem;
$header3: 2rem;
$text: 1rem;
$gradient: linear-gradient(left,#38d395,#38a4d3);
$background-color: #154353;
$gray-text:#2c2c2c;
@mixin flex($justify,$align,$direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;

}
@import "global";
@import "intro";


// animation
#box2_on,#box3_on{
    display: none;
}
#box1_on{
    animation: move-box 1.5s ease-in-out infinite;
}

@media screen and (max-width: 1130px){
    svg{
        width: 80%;
    }
    nav{
        margin-bottom: 3em;
    }
    .logo{
        margin-bottom: 2rem;
    }
}



.project{
    height: 90vh;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.travelly,.shoebhamim{
    text-align: center;
    flex:1 1 45rem;
    h2{
        margin-bottom: 2rem;
    }

}
.travelly img{
    width: 95%;
    border-radius: 15px;
}
.shoebhamim img{
    width: 95%;
    border-radius: 15px;
}

.contact{
    height: 90vh;
    width: 100vw;
 
    @include flex(center, center, row);
    font-size: 2rem;
    text-align: center;
}
.contact input{
    width: 24rem;
    height: 3rem;
    margin: 0 0 3rem 0;
    
}
.form-container{
    // border: 2px solid red;
    padding: 4% 8%;
    box-shadow: 2px 2px 15px gray;
    border-radius: 10px;
    & button{
        margin: 1rem 0 0 0;
        border: none;
        background-color: #6c63ff;
        color: white;
        padding: 4% 20%;
        font-size: 1.5rem;
        border-radius: 2rem;
        cursor: pointer;
    }
    & button:hover{
        background-color: #433ea4;
    }
}







