$header1: 3rem;
$header2: 2.5rem;
$header3: 2rem;
$text: 1rem;
$gradient: linear-gradient(left,#38d395,#38a4d3);
$background-color: #154353;
$gray-text:#2c2c2c;
@mixin flex($justify,$align,$direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;

}
@import "global";
@import "intro";


// animation
#box2_on,#box3_on{
    display: none;
}
#box1_on{
    animation: move-box 1.5s ease-in-out infinite;
}

@media screen and (max-width: 1130px){
    svg{
        width: 80%;
    }
    nav{
        margin-bottom: 3em;
    }
    .logo{
        margin-bottom: 2rem;
    }
}









